* {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    margin: 0;

    background-image: url("marciline_full_body_website_background_3_1500x1091.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}



.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 3, 3);
}

.navbar a {
    color: rgb(255, 222, 239);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #fcd4f0;
    color: black;
}

.navbar li {
    display: inline-block;
}

.website-border {
    display: block;
    margin: 0 auto;
}

.gridcontainer {
    display: grid;

    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(5, 200px);

    gap: 20px;
    padding: 20px;

    grid-template-areas:
        "item-1 item-1 item-1 item-2"
        "item-1 item-1 item-1 item-2"
        "item-3 item-3 item-4 item-4"
        "item-5 item-6 item-7 item-7";

    width: fit-content;
    margin: 0 auto;
}

.item {
    padding: 0%;
    background-color: #f4c1e9;
    color: #000000;
    text-align: center;
    border-radius: 0px;
    font-size: 20px;
}